@media print {
    .green{
        background-color:rgb(164, 241, 133) !important;
    }

    .red{
        background-color:rgb(236, 150, 150) !important;
    }

    .gris{
        background-color:rgb(133, 131, 131) !important;
    }

    .canvas{
        width: 400px !important;
        height: 400px !important;
    }


}

.green{
    background-color:rgb(164, 241, 133) !important;
}

.red{
    background-color:rgb(236, 150, 150) !important;
}

.gris{
    background-color:rgb(133, 131, 131) !important;
}
.canvas{
    width: 250px !important;
    height: 250px !important;
}
