body{
     font-family:'Courgette';
     font-size:20px;
     font-weight: 300;
     color: #ffffff;
     line-height: 30px;
     text-align: center;
     background-color: #000000; /*#222733;*/

}

strong{
     font-weight: 500;
     font-family: 'Montaga';
}

a, a:hover, a:focus{
   text-declaration: none;
}

h1, h2 {
    margin-top: 10px;
    font-size:38px;
    font-weight: 100;
    line-height: 50px;
}

h3 {
   font-size:22px;
    font-weight: 300;
}


.mybodydatepicker table,tr,th {
      
}


.mybodytables tr,th{
  border-collapse: collapse;
  border: #000000 3px solid;
}

.mybodytables .container .mycontainersmall{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  font-size: 20px;
}

.mybodytables .container .myjumbotron{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: red;
}
#table{
  border-collapse: collapse;
  border: #000000 3px solid;
}


.mybodytables{
    font-family:'Convergence', sans-serif;
     font-size:20px;
     font-weight: 300;
     color: #000000;
     line-height: 30px;
     text-align: center;
     background-color: #E6E6E6;/*#ffffff;*/

     /*padding-top: 80px; esto en caso de usar navbar-fixed-top */
}

.mybodytables .container .mylogout{
    text-align: right;
    font-size: small;

    /*padding-right: 100px;  
    line-height: 20px; 
    padding-bottom: 0px;*/
}

.mybodytables .container .mytable {
    text-align: center;
    /*align-content: center;*/
    
}

/* Contenidos y formularios*/

.mycontent{
           padding: 100px 0 170px 0;
}

.mycontent .mydescription {
           margin: 20px 0  10px 0;
}

.mycontent .mydescription p {
           opacity: 0.8;
}

.myform-cont{
             margin-top: 35px;
}

 .myform-top {
             overflow: hidden;
             padding: 0 25px 15px 25px;
             background: rgba(0,0,0,0.7);/*rgba(0,0,0,0.35);*/
             -moz-border-radius: 10px 10px 0 0;
             -webkit-border-radius: 10px 10px 0 0;
             border-radius: 10px 10px 0 0;
 }
 
 .myform-top-left{
                  float:left;
                  width:75%;
                  padding-top: 25px;
                  text-align:left;
 }
 
.myform-top-left p {
                 opacity: 0.8;
}
 
.myform-top-right{
                  float:right;
                  width:25%;
                  padding-top: 25px;
                  font-size: 66px;
                  text-align:right;
                  opacity: 0.3;
}

.myform-bottom  {
            padding: 25px 25px 30px 25px;
            background: rgba(0,0,0,0.55);
            -moz-border-radius: 0 0 10px 10px;
            -webkit-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
            font-size: 17px;
            /*color: #FE2E2E;*/
            /*color: #6163F3;*/
            color: #dcd9cffc;
}

.myform-bottom .mybtn{
               width: 100%;
}

input[type="text"],
input[type="password"],
textarea,
textarea.form-control{
                      height: 40px;
                      vertical-align: middle;
                      background: #fff;
                      border: 3px solid #fff;
                      font-size: 16px;
                      font-weight: 300;
                      line-height: 50px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus{
                      background: #fff;
                      border: 2px solid #1AAE88;

}

input.mybtn{
            height: 40px;
            background: #1AAE88;
            border:0;
            font-size: 25px;
            font-weight: 500;
            line-height: 40px;
            color:#fff;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius:4px;
}

input.mybtn:hover, input.mybtn:active{
                   opacity:0.6;
                   color:#fff;
}

input.mybtn:focus{
       opacity:0.6;
       color:#fff;
       background: #de615e;
}


/*jumbotron*/
.mybodytables .jumbotron{
  padding: 5px;
  height:90px
  
}

.mybodytables .jumbotron .myh1{
  margin-top: 10px;
  font-size:20px;
  font-weight: 80;
  line-height: 30px;
}

.mybodytables .container .myh3{
  margin-top: 5px;
}


/*Login Redes Sociales*/


.mysocial-login{
                margin-top:35px;
}

.mysocial-login-buttons{
               margin-top:25px;
}

.mybtn-social{
              display:inline-black;
              height:50px;
              margin: 5px;
              padding:15px 20px 0 20px;
              background: rgba(0,0,0,0.3);
              border:1px solid #fff;
              font-size:16px;
              font-weight:300;
              line-height:16px;
              color:#fff;
              -moz-border-radius: 4px;
              -webkit-border-radius: 4px;
              border-radius:4px;
}

.mybtn-social: hover, .mybtn-social:focus, .mybtn-social:active:focus{
               outline:0;
               opacity:0.6;
               background: rgba(0,0,0,0.3);
               color:#fff;
}
